{% block content %}
<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th>Archive Status</th>
		</tr>
		<tr>
			<th>File Host</th>
			<th>Last Report</th>
			<th>Usage</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>pot1</th>
			<td>{{ pot1_time | round(1) }} ({{ pot1_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ pot1_usage }}(%)</td>
		</tr>
		<tr>
			<th>pot2</th>
			<td>{{ pot2_time | round(2) }} ({{ pot2_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ pot2_usage }}(%)</td>
		</tr>
		<tr>
			<th>pot3</th>
			<td>{{ pot3_time | round(3) }} ({{ pot3_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ pot3_usage }}(%)</td>
		</tr>
		<tr>
			<th>folio:/data4</th>
			<td>{{ folio_time | round(1) }} ({{ folio_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ folio_usage }}(%)</td>
		</tr>
		<tr>
			<th>pot8</th>
			<td>{{ pot8_time | round(8) }} ({{ pot8_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ pot8_usage }}(%)</td>
		</tr>
		<tr>
			<th>NAS1</th>
			<td>{{ nas1_time | round(1) }} ({{ nas1_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ nas1_usage }}(%)</td>
		</tr>
	</tbody>
</table>
{% endblock %}
