{% block content %}
<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th>Archive Status</th>
		</tr>
		<tr>
			<th>File Host</th>
			<th>Last Report</th>
			<th>Usage</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for system_name in system_names %}
				<th>{{ system_name }}</th>
				<td>{{ system_dict[system_name]['time'] | round(1) }} ({{ system_dict[system_name]['time_segment'] }})</td>
				<td rowspan='3' style='color:red;vertical-align:middle;'>{{ system_dict[system_name]['space'] }} (%)</td>
			{% endif %}
		</tr>
	</tbody>
</table>
{% endblock %}
