{% block content %}
<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th colspan='4'>As of {{ data_time }}</th>
		</tr>
		<tr>
			<th>Filesystem</th>
			<th>Last updated (ago)</th>
			<th>Most Recent JD</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Correlator</th>
			<td>{{ corr_time | round(1) }} ({{ corr_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ corr_day }}</td>
		</tr>
		<tr>
			<th>RTP</th>
			<td>{{ rtp_time | round(1) }} ({{ rtp_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ rtp_day }}</td>
		</tr>
		<tr>
			<th>Folio Scan</th>
			<td>{{ folio_time | round(1) }} ({{ folio_time_segment }})</td>
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ folio_day }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}
