{% block content %}
<table class='table-bordered table-striped'>
	<thead>
		<tr>
			<th>Hours (#)</th>
				{% for pol in pol_strs %}
					<th>{{ pol }}</th>
				{% endfor %}
			<th>Total</th>
			<th>Errors</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for era in era_strs %}
				<th>{{ era }}</th>
					{% for pol in pol_strs %}
						<td>{{ obs_map[pol][era]['obs_hours'] | round(1) }} ({{ obs_map[pol][era]['obs_count'] }})</td>
					{% endfor %}
				<td>{{ obs_total[era]['obs_hours'] | round(1) }} ({{ obs_total[era]['obs_count'] }})</td>
			{% endfor %}
			<td rowspan='3' style='color:red;vertical-align:middle;'>{{ error_count }}</td>
		</tr>
		<tr>
			<th>Total</th>
			{% for pol in pol_strs %}
				<td>{{ obs_total[pol]['obs_hours'] | round(1) }} ({{ obs_total[pol]['obs_count'] }})</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% endblock %}
