{% block content %}
<table class='table-bordered table-striped'>
	<thead>
		<tr>
			<th>Hours (#)</th>
			{% for pol in pol_strs %}
				<th>{{ pol }}</th>
			{% endfor %}
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for era_type in era_type_strs %}
				<th>{{ era_type }}</th>
					{% for pol in pol_strs %}
						<td>{{ obs_map[pol][era_type]['obs_hours'] | round(1) }} ({{ obs_map[pol][era_type]['obs_count'] }})</td>
					{% endfor %}
				<td>{{ obs_total[era_type]['hours'] | round(1) }} ({{ obs_total[era_type]['count'] }})</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Total</th>
			{% for pol in pol_strs %}
				<td>{{ obs_total[pol]['hours'] | round(1) }} ({{ obs_total[pol]['count'] }})</td>
			{% endfor %}
		</tr>
	</tbody>
	<thead>
		<tr>
			<th>Amount</th>
				{% for host in host_strs %}
					<th>{{ host }}</th>
				{% endfor %}
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{% for filetype in filetype_strs %}
			<tr>
				<th>{{ filetype }}</th>
					{% for host in host_strs %}
						<td>{{ file_map[host][filetype]['file_count'] }}</td>
					{% endfor %}
				<td>{{ file_total[filetype]['count'] }}</td>
			</tr>
		{% endfor %}
		<tr>
			<th>Total</th>
			{% for host in host_strs %}
				<td>{{ file_total[host]['count'] }}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% endblock %}
