{% block content %}
	{% if sets | length > 0 %}
		<table class='table-striped'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Creator</th>
					<th>Data hrs</th>
					<th>Polarization</th>
					<th>Era</th>
					<th>Era Type</th>
				</tr>
			</thead>
			<tbody>
			{% for set in sets %}
				<tr>
					<td>
						<a href='/set/{{ set.name }}'>{{ set.name }}</a>
					</td>
					<td>
						{{ set.username }}
					</td>
					<td>
						{{ set.total_data_hrs | round(1) }}
					</td>
					<td>
						{{ set.polarization }}
					</td>
					<td>
						{{ set.era_type }}
					</td>
					<td>
						{{ set.host }}
					</td>
					<td>
						{{ set.filetype }}
					</td>
					{% if include_delete_buttons %}
					<td>
						<button type='button' onclick='deleteSet({{set.id}}, '{{set.name | escape_single_quote}}')' id='delete_set_button_{{set.id}}'>
							Delete
						</button>
					</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% if logged_out %}
			<p> Log in to view sets.</p>
		{% else %}
			<p> No sets currently saved.</p>
		{% endif %}
	{% endif %}
{% endblock %}
