Canopy==1.4.0.dev6600
Examples==7.3
Flask==0.10.1
Flask-Login==0.3.2
Flask-Migrate==1.6.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.7.3
MKL==10.3
Mako==1.0.1
MarkupSafe==0.23
MySQL-python==1.2.5
PIL==1.1.7
PyMySQL==0.7.2
PySide==1.2.1
Pygments==2.0.2
PythonDoc==2.7.3
Qt==4.8.5
SQLAlchemy==1.0.12
Werkzeug==0.10.4
affinity==0.1.0
aipy==2.1.0
alembic==0.7.7
appinst==2.1.2
apptools==4.2.1
astropy==0.3.2
capo==0.0.1
casuarius==1.1
chaco==4.4.1
cloud==2.4.6
configobj==4.7.2
configparser==3.3.0r2
coverage==3.7.1
ddr-compress==0.0.1
docutils==0.11
ecdsa==0.13
enable==4.3.0
enaml==0.9.4
encore==0.5.1
enstaller==4.8.1
enum==0.4.6
envisage==4.4.0
esky==0.9.8dev
etsproxy==0.1.2
faulthandler==2.2
feedparser==5.1.3
freetype==2.4.4
glib==2.36.1
gnureadline==6.2.5
grits-client==0.1
gst-plugins-bad==0.10.23
gst-plugins-base==0.10.36
gst-plugins-good==0.10.30
gstreamer==0.10.36
idle==2.7.3
ipdb==0.6.1
ipython==3.0.0
itsdangerous==0.24
jsonpickle==0.4.0
jsonschema==2.4.0
kernmagic==0.2.0
keyring==3.6dev
libffi==3.0.13
libgfortran==3.0.0
libjpeg==7.0
libjpeg62==6.2
libncurses==5.9
libogg==1.3.0
libtheora==1.1.1
libvpx==1.1.0
libxml2==2.7.8
matplotlib==1.3.1
mistune==0.5
mock==1.0.1
mpi4py==1.2.2
mpich2==1.4.1
multiprocessing==2.6.2.1
nose==1.3.0
numpy==1.9.1
omnical==1.0.0
pandas==0.13.1
paramiko==1.15.2
ply==3.4
prettytable==0.7.2
progressbar==2.3
psutil==2.2.1
ptyprocess==0.4
pyaudio==0.2.4
pycrypto==2.6.1
pyephem==3.7.5.1
pyface==4.4.0
pyfits==3.0.6
pyflakes==0.4.5.dev80
pyganglia==0.0.1
pyganglia-dbi==0.0.1
pyglet==1.1.4
pyparsing==1.5.6
python-dateutil==2.2.0
python-editor==0.4
pytz==2013.8.0
pyzmq==14.5.0
requests==2.7.0
requests-futures==0.9.5
scipy==0.13.3
shiboken==1.2.1
six==1.4.1
ssl-match-hostname==3.4.0.2
supplement==0.5dev.dev202
sympy==0.7.3
terminado==0.5
tornado==4.1
traits==4.4.0
traitsui==4.4.0
virtualenv==1.11.6
wheel==0.25.0
wsgiref==0.1.2
wxPython==2.8.10.1
zeromq==4.0.5
zlib==1.2.6
