{% block content %}
<table class='table table-striped table-bordered table-responsive' style='margin:0;'>
    <tr>
        <th colspan='4'>Processing Files</th>
    </tr>
    <tr>
        <th style='width:30%'>Filename</th>
        <th style='width:30%'>Current Stage</th>
        <th style='width:20%'>Host</th>
        <th style='width:10%'>Obsnum</th>
        <th style='width:10%'>Amount of time since stage start</th>
    </tr>
    <tbody>
        {% for file, stage, run_time in working_FILEs %}
        <tr>
            <td>{{ file['filename'] }}</td>
            <td>{{ stage }}</td>
            <td>{{ file['host'] }}</td>
            <td>{{ file['obsnum'] }}</td>
            <td>{{ run_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
