{% extends 'layout.html' %}
{% block body %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js'></script>
<script src='../static/js/jquery.datetimepicker.js'></script>
<script src='../static/js/collapsible.min.js'></script>
<script src='http://code.highcharts.com/stock/highstock.js'></script>
<script src='http://code.highcharts.com/stock/highcharts-more.js'></script>
<script src='http://code.highcharts.com/modules/no-data-to-display.js'></script>
<!--script src='../static/js/index.js'></script-->
<table style='width:100%' class='tableClass'>
    <div id='main_content_div'>
        <tr class='rowClass'>
            <td class='cellClass cellTop'>
                {#% include 'stream.html' %#}
                {#% include 'refr_table.html' %#}
                {#% include 'file_hist.html' %#}
                {#% include 'prog_hist.html' %#}
                <div class='container'>
                    <div class='floatLeft' id='obs_table'></div>
                    <div id='file_table'></div>
                </div>
            </td>
            <td class='right_cell cellClass cellTop'>
                <!--div id='day_summary_table'></div-->
            </td>
        </tr>
    </div>
</table>
{% endblock %}
