<!DOCTYPE html>
<html>
<head>
    <title>Monitor Still</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="../static/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
</head>
<body style='display: inline-block;'>
    <div class='page'>
        <div class='metanav'>
            <span class='nav_left'>
                <a href="{{ url_for('index') }}">Monitor Still</a>
            </span>
            <span class='nav_right'>
                <a href="{{ url_for('index') }}">home</a>
                <a href="{{ url_for('summarize_still') }}">summarize</a>
            </span>
        </div>
        {% block body %}{% endblock %}
    </div>
</body>
</html>
