{% block hist %}
<div id='night_hist'></div>
<script>
// Convert the Python lists passed to this template to JSON objects, so they can be used in JavaScript.
var nights = {{ nights | tojson }};
var all_complete = {{ all_complete | tojson }};
var all_total = {{ all_total | tojson }};
var all_pending = {{ all_pending | tojson }};

$(function() {
    $('#night_hist').highcharts({
        chart: {
            type: 'column'
        },
        colors: [
            '#7cb5ec',
            '#FF0000',
            '#90ed7d',
            '#f7a35c',
            '#8085e9',
            '#f15c80',
            '#e4d354',
            '#8085e8',
            '#8d4653',
            '#91e8e1'
        ],
        tooltip: {
            headerFormat: '<b>{series.name}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}',
            //shared: true,
            useHTML: true
        },
        credits: {
            enabled: false,
        },
        legend: {
            enabled: true
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                },
                dataGrouping: {
                    groupPixelWidth: 80,
                    forced: true
                },
                pointPlacement: "between",
                // No padding between columns so the graph looks like a histogram.
                groupPadding: 0,
                pointPadding: 0,
            },
        },
        title: {
            text: 'Observations Processed'
        },
        xAxis: {
            ordinal: false,
            categories: nights,
            crosshair: true,
            labels: {
                align: 'left'
            },
        },
        yAxis: {
            title: {
                text: 'Number of Observations'
            },
            min: 0,
            allowDecimals: false,
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        series: [{
            name: 'pending',
            data: all_pending
        },
        {
            name: 'complete',
            data: all_complete
        },
        /*{
            type: 'column',
            name: 'total',
            data: all_total
        }*/
        ]
    });
}(jQuery));
</script>
{% endblock hist %}
