{% block hist %}
<div id='night_hist'></div>
<script>
// Convert the Python lists passed to this template to JSON objects, so they can be used in JavaScript.
var nights = {{ nights | tojson }};
var all_complete = {{ all_complete | tojson }};
var all_total = {{ all_total | tojson }};
var all_pending = {{ all_pending | tojson }};

$(function() {
    $('#night_hist').highcharts({
        chart: {
            type: 'column'
        },
        colors: [
            '#7cb5ec',
            '#FF0000',
            '#90ed7d',
            '#f7a35c',
            '#8085e9',
            '#f15c80',
            '#e4d354',
            '#8085e8',
            '#8d4653',
            '#91e8e1'
        ],
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                         '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            //shared: true,
            useHTML: true
        },
        credits: {
            enabled: false,
        },
        legend: {
            enabled: true
        },
        plotOptions: {
            column: {
                dataGrouping: {
                    groupPixelWidth: 80,
                    forced: true
                },
                pointPlacement: "between",
                // No padding between columns so the graph looks like a histogram.
                groupPadding: 0,
                pointPadding: 0,
            },
        },
        title: {
            text: 'Observations Processed'
        },
        xAxis: {
            ordinal: false,
            categories: nights,
            crosshair: true,
            labels: {
                align: 'left'
            },
        },
        yAxis: {
            title: {
                text: 'Number of Observations'
            },
            min: 0,
            allowDecimals: false
        },
        series: [{
            type: 'column',
            name: 'pending',
            data: all_pending
        },
        {
            type: 'column',
            name: 'complete',
            data: all_complete
        },
        {
            type: 'column',
            name: 'total',
            data: all_total
        }]
    });
}(jQuery));
</script>
{% endblock hist %}
