<div id="comment_reply" style="display:none;">
    Reply to:&nbsp;<span id="replying_thread_name"></span>
    <span> (type "@set(set name)" to link to that set) </span>
    <br>
    <textarea id="reply_text" maxlength="1000" style="max-width:700px;max-height:150px;"></textarea>
    <input id="replying_thread_id" type="hidden"/>
    <br>
    <button id="cancel_reply_button" type="button" onclick="cancelReply()">Cancel</button>
    <button id="reply_button" type="button" onclick="replyToThread()">Reply</button>
</div>
<div id="new_thread" style="display:none;">
    <span>Thread title</span>
    <br>
    <input id="new_thread_title" type="text" maxlength="100"/>
    <br>
    <span>Comment</span>
    <span> (type "@set(set name)" to link to that set) </span>
    <br>
    <textarea id="new_thread_comment" maxlength="1000" style="max-width:700px;max-height:150px;"></textarea>
    <br>
    <button id="cancel_new_button" type="button" onclick="cancelNewThread()">Cancel</button>
    <button id="new_thread_button" type="button" onclick="createNewThread()">Create</button>
</div>
<script>
    var setReplyButtons = function(disabled, text) {
        $("#reply_button").prop('disabled', disabled);
        $("#reply_button").html(text);
        $("#cancel_reply_button").prop('disabled', disabled);
    };

    var setNewThreadButtons = function(disabled, text) {
        $("#new_thread_button").prop('disabled', disabled);
        $("#new_thread_button").html(text);
        $("#cancel_new_button").prop('disabled', disabled);
    };

    var replyToThread = function() {
        var thread_id = $("#replying_thread_id").val();

        var reply = $("#reply_text").val();

        if (reply.length === 0)
            return;

        setReplyButtons(true, "Working...");

        $.ajax({
            type: 'POST',
            url: '/thread_reply',
            data: {
                thread_id: thread_id,
                text: reply
            },
            success: function(data) {
                getComments();
                setReplyButtons(false, "Reply");
                cancelReply();
            },
            error: function(xhr, status, error) {
                setReplyButtons(false, "Reply");
            },
            dataType: "html"
        });
    };

    var createNewThread = function() {
        var title = $("#new_thread_title").val();

        if (title.length === 0)
            return;

        var text = $("#new_thread_comment").val();

        if (text.length === 0)
            return;

        setNewThreadButtons(true, "Working...");

        $.ajax({
            type: 'POST',
            url: '/new_thread',
            data: {
                title: title,
                text: text
            },
            success: function(data) {
                getComments();
                setNewThreadButtons(false, "Create");
                cancelNewThread();
            },
            error: function(xhr, status, error) {
                setNewThreadButtons(false, "Create");
            },
            dataType: "html"
        });
    };

    var cancelReply = function() {
        $("#reply_text").val(''); // Clear the text area.
        $("#comment_reply").hide();
    };

    var cancelNewThread = function() {
        $("#new_thread_title").val('');
        $("#new_thread_comment").val('');
        $("#new_thread").hide();
    };
</script>
