{% block content %}
<table class='table table-striped table-bordered table-responsive' style='margin:0;'>
	<tr>
		<th colspan='3'>Observation log for {{ start_time }} - {{ end_time }}</th>
	</tr>
</table>
<table class='table table-striped table-bordered table-responsive'>
	<thead>
		<tr>
			<th style='width:30%'>Julian Date</th>
			<th style='width:30%'>Obsnum</th>
			<th style='width:10%'>Polarization</th>
			<th style='width:30%'>Length</th>
		</tr>
	</thead>
	<tbody>
		{% for obs in log_list %}
		<tr>
			<td>{{ obs['julian_date'] }}</td>
			<td>{{ obs['obsnum'] }}</td>
			<td>{{ obs['polarization'] }}</td>
			<td>{{ obs['length'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
