{% block hist %}
<div id='obs_hist' class='floatLeft' style="height: 400px; min-width: 310px; display:inline"></div>
<script>
// Convert the Python lists passed to this template to JSON objects, so they can be used in JavaScript.
var f_days = {{ f_days | tojson }};
var j_days = {{ j_days | tojson }};
var f_day_counts = {{ f_day_counts | tojson }};
var j_day_counts = {{ j_day_counts | tojson }};

$(function() {
    $('#obs_hist').highcharts({
        chart: {
            type: 'column'
        },
        colors: [
            '#7cb5ec',
            '#FF0000',
            '#90ed7d',
            '#f7a35c',
            '#8085e9',
            '#f15c80',
            '#e4d354',
            '#8085e8',
            '#8d4653',
            '#91e8e1'
        ],
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                         '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            //shared: true,
            useHTML: true
        },
        credits: {
            enabled: false,
        },
        legend: {
            enabled: true
        },
        plotOptions: {
            column: {
                dataGrouping: {
                    groupPixelWidth: 80,
                    forced: true
                },
                pointPlacement: "between",
                // No padding between columns so the graph looks like a histogram.
                groupPadding: 0,
                pointPadding: 0,
            },
        },
        title: {
            text: 'Observation & File Count'
        },
        xAxis: {
            ordinal: false,
            categories: j_days,
            crosshair: true,
            labels: {
                align: 'left'
            },
        },
        yAxis: {
            title: {
                text: 'Number of Observations/Files'
            },
            min: 0,
            allowDecimals: false
        },
        series: [{
            type: 'column',
            name: 'observations',
            data: j_day_counts
        },
        {
            type: 'column',
            name: 'files',
            data: f_day_counts
        }]
    });
}(jQuery));
</script>
{% endblock hist %}
